/* Graphic */

.exportable-graph div { /* Force highcharts to set the height from container */
  height: 100%;
}

.highcharts-tooltip .tooltip-content {
  width: 240px;
  white-space: normal !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

/* reduce width of text on small screens */
@media (max-width: 650px) {
  .highcharts-tooltip .tooltip-content {
    width: 165px;
  }
}

.highcharts-tooltip td {
  vertical-align: top;
}

.tooltip-value {
  text-align: right;
  vertical-align:top;
  font-weight: bold;
}

.highcharts-tooltip table {
  font-size: 13px;
}

/* tooltip overlaps other elements */
.highcharts-container, svg:not(:root) {
  overflow: visible !important;
}

/* show tooltip over other elements. Without this, tooltip has full transparency */
.highcharts-container:hover {
  z-index: 99 !important;
}

.highcharts-subtitle {
  width: 70% !important;
  white-space: pre-wrap !important;
  text-align: center;
  margin-top: 10px !important;
}

.highcharts-title {
  width: 75%;
  text-align: center;
  left: 15% !important;
}
/* Fin Graphic */


/* Card */
.full-card {
  width: 15%;
  text-align: center;
  border: 1px solid #cecece;
  border-top: 7px solid #0072BB;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.full-card-header {
  text-align: center;
  border-bottom: 1px solid #cecece;
  margin-bottom: 10px;
}

.full-card-header .date {
  color: grey;
}

.exportable-card-value {
  font-size: 40px;
  font-weight: bold;
  display: block;
}

h5.source {
  color: grey;
  display: block;
  margin: 10px;
  font-size: 13px;
}

.full-card-links {
  padding: 10px;
  background-color: #e6e6e6;
  border-top: 1px solid #cecece;
  color: #0072BB;
}

.full-card-download {
  float: left;
}

.full-card-view-more {
  float: none;
}

.full-card-enlaces {
  float: right;
}

/* Fin Card */
