/*---Roboto---*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600&display=swap");

/*---Graphic---*/

.exportable-graph div { /* Force highcharts to set the height from container */
  height: 100%;
}

.highcharts-tooltip .tooltip-content {
  width: 240px;
  white-space: normal !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

/* reduce width of text on small screens */
@media (max-width: 650px) {
  .highcharts-tooltip .tooltip-content {
    width: 165px;
  }
}

.highcharts-tooltip td {
  vertical-align: top;
}

.tooltip-value {
  text-align: right;
  vertical-align:top;
  font-weight: bold;
}

.highcharts-tooltip table {
  font-size: 13px;
}

/* tooltip overlaps other elements */
.highcharts-container, svg:not(:root) {
  overflow: visible !important;
}

/* show tooltip over other elements. Without this, tooltip has full transparency */
.highcharts-container:hover {
  z-index: 99 !important;
}

.highcharts-subtitle {
  width: 70% !important;
  white-space: pre-wrap !important;
  text-align: center;
  margin-top: 10px !important;
}

.highcharts-title {
  width: 75%;
  text-align: center;
  left: 15% !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.highcharts-legend-item tspan {
  color: #333333;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.highcharts-subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*---Fin Graphic---*/


/*---Card---*/

/*-General Styles-*/
.card {
  position: relative;
  display: inline-block;
}

.card p, .card ul, .card  ol, .card p, .card table {
  font-weight: 300
}

.card a {
  background-color: transparent;
  font-weight: 500;
}

.card a:focus {
  outline-offset: -2px;
}

.card a:hover {
  outline: 0
}

@media (min-width:992px) {
  .card p, .card li, .card table {
    font-size: 18px
  }
}

.card, .card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  color: #333;
}

.card.no-graph {
  width: 230px;
}

.card.no-graph .c-main {
  margin-top: 8px;
}

.card.no-graph .c-units {
  margin-bottom: 15px;
}

.card.empty {
  width: 230px;
}

.card.empty .c-data {
  margin-top: -10px;
}

.card.empty .c-data .c-units {
  margin-bottom: 10px;
}

.card.normal {
  width: 230px;
}

.card.normal .c-data {
  padding-top: 8px;
}

.card.normal .c-data .graphic {
  width: 100%;
  height: 70px;
  padding: 7.5px 10px;
}

.card .graphic {
  text-align: center;
}

.card.normal .c-data .graphic img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.card.wide {
  width: 290px;
}

.card.wide .c-data {
  padding-top: 8px;
}

.card.wide .c-data .c-units {
  margin-bottom: 10px;
}

.card.wide .c-data .graphic {
  width: 100%;
  height: 160px;
}

.card.wide .c-data .graphic img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.card.full {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  background: #ffffff;
}

.card.full .c-head {
  border-bottom: 2px solid #dadada;
}

.card.full .c-foot {
  border-top: 2px solid #dadada;
  background: #f1f1f1;
}

.card .c-head,
.card .c-data,
.card .c-foot {
  width: 100%;
}

.card .c-span {
  text-align: center;
  font-size: 12px;
  padding: 0 15%;
  margin: 10px 0px;
  color: grey;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*-Header-*/

.card .c-head {
  height: 85px;
  padding: 10px 10%;
  visibility: visible;
}

.card .c-head .c-title {
  height: 42px;
  margin: 0px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  word-break: break-word;
}

.card .c-head .c-span {
  height: 14px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

/*-Value-*/

.card .c-data .c-main {
  font-size: 48px;
  height: 57px;
  line-height: 68px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 600;
  color: #0072BB;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card .c-data .graphic-detail {
  height: 21px;
  text-align: center;
  font-size: 18px;
  color: #0072BB;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card .c-data .bt {
  height: 28px;
}

/*-Units-*/

.card .c-units {
  height: 32px;
  width: 100%;
  margin: 0px;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
  padding: 0px 18%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

/*-Source-*/

.card .c-source {
  height: 28px;
  line-height: 15px;
  -webkit-line-clamp: 2;
}

/*-Links Footer-*/

.card .c-links {
  height: 35px;
}

.card .c-foot {
  height: 35px;
  display: inline-flex;
  line-height: 20px;
}

.card .c-foot div {
  width: 76.667px;
  float: left;
  height: 35px;
  text-align: center;
}

.card .c-foot div:only-child {
  width: 100%;
}

.card .c-foot div a {
  font-size: 12px;
  color: #0072BB;
}

.card .c-foot div a:link, .card .c-foot div a:visited, .card .c-foot div a:hover, .card .c-foot div a:active {
  text-decoration: none;
}

.card .c-foot div a:hover {
  color: #005388;
}

.c-foot .c-download, .c-foot .c-viewmore {
  display: flex;
  justify-content: center;
  align-items: center;
}

main a[href^="https://"][target^="_blank"]::after,
main a[href^="https://"][target^="_blank"]::after {
  content: " ";
}

/*-Buttons and Dropdown-*/

.card .c-btn {
  display: inline-block;
  background-image: none;
  cursor: pointer;
  vertical-align: top;
  white-space: initial;
  word-break: initial;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -moz-user-select: none;
}

.card .c-btn:hover {
  border: 0
}

.card .c-dropdown > .c-btn {
  position: relative;
  float: left
}

.card .c-dropdown-vertical>.c-btn.active,
.card .c-dropdown-vertical>.c-btn:active, 
.card .c-dropdown-vertical>.c-btn:focus, 
.card .c-dropdown-vertical>.c-btn:hover, 
.card .c-dropdown>.c-btn.active, 
.card .c-dropdown>.c-btn:active, 
.card .c-dropdown>.c-btn:focus, 
.card .c-dropdown>.c-btn:hover {
  z-index: 2
}

.card .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent
}

.card .c-btn .caret {
  margin-left: 0
}

.card .c-btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0
}

.card .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9
}

.card .dropup .c-btn-lg .caret {
  border-width: 0 5px 5px
}

@media print {
  .card .c-btn>.caret, .card .dropup>.c-btn>.caret {
    border-top-color: #000!important
  }
}

.card .c-dropdown, .c-dropdown-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.card a.c-dropdown-toggle  {
  text-decoration: none;
}

.card .c-dropdown .c-dropdown-toggle:active, .c-dropdown.open .c-dropdown-toggle {
  outline: 0
}

.card .c-dropdown.open .c-dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.card .c-dropdown.open .c-dropdown-toggle.c-btn-link {
  -webkit-box-shadow: none;
  box-shadow: none
}

.card .c-dropdown {
  padding-top: 0 !important;
  text-align: center !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .c-dropdown .c-btn {
  text-transform: capitalize;
}

.card .c-linksButton {
  background-color: transparent;
  padding: 0;
  letter-spacing: 0px;
}

.card .c-dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.card .c-dropdown-options.pull-right {
  right: 0;
  left: auto
}

.card .c-dropdown-options .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4) !important
}

.card .c-dropdown-options>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap
}

.card .c-dropdown-options li a {
  border-bottom: 1px solid #dbdbdb;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  padding: 12px 15px;
  text-decoration: none
}

.card .c-dropdown-options>li>a:focus {
  color: #262626;
}

.card .c-dropdown-options>li>a:focus, .card .c-dropdown-options>li>a:hover {
  text-decoration: none;
  background-color: #f5f5f5
}

.card .c-dropdown-options>li>a:hover, 
.card .c-dropdown-options li a:hover,
.card .c-dropdown-options>li>a:focus,
.card .c-dropdown-options li a:focus {
  color: #fff
}

.card .c-dropdown-options li a:not(.c-btn):hover, .card .c-dropdown-options li a:not(.c-btn):focus {
  background-color: #0695d6;
  color: white
}

.card .c-dropdown-options li:first-of-type a {
  border-radius: 4px 4px 0 0
}

.card .c-dropdown-options li:last-of-type a {
  border-radius: 0 0 4px 4px;
  border: none
}

.card .c-dropdown-options>.active>a, .card .c-dropdown-options>.active>a:focus, .card .c-dropdown-options>.active>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0
}

.card .c-dropdown-options>.disabled>a, .card .c-dropdown-options>.disabled>a:focus, .card .c-dropdown-options>.disabled>a:hover {
  color: #777
}

.card .c-dropdown-options>.disabled>a:focus, .card .c-dropdown-options>.disabled>a:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.card .open>.c-dropdown-options {
  display: block;
  border: 1px solid #dbdbdb;
}

.card .open>a {
  outline: 0
}

.card .open > .c-dropdown-toggle .c-linksButton:focus,
.card .open > .c-dropdown-toggle .c-linksButton:hover {
  background-color: transparent;
  color: #0072BB;
}

.card .c-dropdown-options .c-linkItem {
  cursor: pointer;
  margin: 0px;
}

.card .c-foot div .c-links-tooltip {
  width: 140px;
}

.__react_component_tooltip {
  padding: 8px 21px !important;
}

/*---Fin Card---*/

/*---Iconos---*/

.fa-angle-up, .fa-link, .caret {
  font-family: 'Font Awesome\ 5 Free';
  color: #0072BB;
}

/*---Fin Iconos---*/